<html>
<head>
<title>Profile</title>
</head>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" href="../views/css/profile.css">
<body class="containerwallpaper">
  <div class="container mainBody">
    <div class="row" style="margin-bottom:10px">
    </div>
   <div class="row">
     <div class="col-lg-4">
       </div>
<<<<<<< HEAD
       <div class="col-lg-3" style="margin-left:40px">
       <img src="../Images/download.jpeg"/>
=======
       <div class="col-lg-3">
       <img src="../views/Images/download.jpeg"/>
>>>>>>> bab08248c8a0c0f415eac2bd0f44f7a96e6f6319
       </div>
       <div class="col-lg-3">
       </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-3">
        <span class="font-weight-bold" style="font-size:2rem;">DETAILS</span>
      </div>
    </div>
    <div class="row" style="margin-top:5%">
      <div class="col-lg-2">
        </div>
      <div class="col-lg-3">
        <div>
          <label class="font-weight-bold align-items-center">Name</label>
          </div>
        <label>Siddharth Choudhary</label>
      </div>
      <div class="col-lg-3">
      </div>
        <div class="col-lg-3">
          <div>
          <label class="font-weight-bold">Email</label>
          </div>
          <label>schoud2@stevens.edu</label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          </div>
        <div class="col-lg-3">
          <div>
            <label class="font-weight-bold">Age</label>
            </div>
          <label>23</label>
        </div>
        <div class="col-lg-3">
        </div>
          <div class="col-lg-3">
            <div>
            <label class="font-weight-bold">Contact</label>
            </div>
            <label>2342444334</label>
          </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
          <div class="col-lg-2">
            </div>
          <div class="col-lg-3">
            <div class="font-weight-bold">
              <label>Score</label>
              </div>
            <label>34</label>
            </div>
            </div>
          <div class="row">
            <div class="col-lg-2">
              </div>
            <div class="col-lg-3 font-weight-bold">
              Enrolled for
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2">
                </div>
            <div class="col-lg-6">
            <ul class="list-group">
              <li class="list-group-item">Stevens Institute of Technology</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            </div>
          </div>
          <div class="row" style="margin-top:20px">
          </div>
  </div>

</body>
</html>
